* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

nav {
    width: 100%;
    position: relative;
    background-color: rgb(34, 34, 59);
    box-shadow: 0px 2px 2px 2px rgba(36,2,2,1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: white;
    padding: 10px;
    margin: 10px;

}

nav ul {
    display: flex;
    flex-wrap: wrap;
}

nav li {
   margin: 5px;
   list-style: none;
}

nav a:hover {
    background-color: rgba(242, 233, 228, 0.3);
    color: rgb(201, 173, 167);
}

nav a.active {
    background-color: rgba(242, 233, 228, 0.3);
}

nav a {
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
}

article a {
    color: rgb(34, 34, 59);
    text-decoration: underline;
}

article a:hover {
    color: rgb(154, 140, 152);
}

article a:visited {
    color: rgb(201, 173, 167);
}

section {
    overflow: hidden;
    width: 60%;
    margin: 0 auto;
    padding: 30px 20px;
}

#artikkel {
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    padding: 30px 20px;
}

article {
    overflow: hidden;
    float: left;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(242, 233, 228);
    border-radius: 6px;
}

article ul {
    margin: 15px;
}

article h4 {
    margin: 10px 0 25px 0;
}

article p {
    margin-top: 15px;
    line-height: 24px;
}

header {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

img {
    width: 50%;
    position: relative;
    overflow: hidden;
    float: right;
    margin: 0 auto;
    padding: 0 10px;
}

footer {
    text-align: center;
    background-color: rgb(34, 34, 59);
    color: white;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

#wrapper {
    padding: 20px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
}

#boks1 {
    width: 100px;
    padding: 20px;
    background-color: red;
    border: 10px solid darkgray;
}

#boks2 {
    width: 100px;
    padding: 20px;
    background-color: orange;
    border: 10px solid darkgray;
}

#boks3 {
    width: 100px;
    padding: 20px;
    background-color: green;
    border: 10px solid darkgray;
}